@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Varela+Round&display=swap');
#title {
    text-align: center;
    color:white;
    font-family:"Varela Round";
    text-decoration: underline;
}
h2, h3, h4, p {
    color:white;
    font-family:'Varela Round'
}
a {
    color:blue;
}
#szoveg {
    text-align: center;
}

body {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(82,31,173,1) 80%, rgba(0,114,255,1) 100%);
}